*
{
    margin: 0;
    padding: 0;
}
.body
{
    background: greenyellow;
}
.header
{
    background-color: greenyellow;
}
.logo
{
    align-items: center;
    text-align: center;
}
.navigation
{
    text-align: center;
}
.heroSection
{
    text-align: center;
    background-color: gray;
}
.content
{
    text-align: center;
    background:bisque;
}
.footer
{
    text-align: center;
    background: blanchedalmond;
}